.env
client.properties
terraform/.terraform.lock.hcl
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
src/ingestion/stock_kafka_producer/producer/environ.sh
z-exploration/